* {
  box-sizing: border-box;
}

body {
  font: 13px/1.5em Helvetica;
}

a {
  color: black;
  text-decoration: none;
  transition: background .3s;
}
  a:hover {
    color: #555;
    background: #f0f0f0;
  }

/* layout */

#color, #pixels, #options, #history {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}


/* color */
#color {
  overflow: hidden;
  line-height: 1em;
}

#color form {
  /* display: inline-block; */
  width: 70%;
  /* vertical-align: top; */
  float: left;
}

#color input {
  border: none;
  -webkit-appearance: none;
  padding: 0;
  font: 12px Arial;
  display: block;
  width: 100%;
  border-spacing: 0;
  border-width: 0;
  border-style: none;
  background-color: #fff;
  margin: 0;
  outline: 0;
  box-shadow: none;
  height: 40px;
}
  #color input::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  #color input::-webkit-color-swatch {
    border: none;
  }

#color a {
  margin-left: .25em;
  padding: 0 5px;
}

#color #picker {
  /*
  display: inline-block;
  vertical-align: top;
  width: 15%;
  */
}
  #color a.active {
    background: gray;
    color: white;
  }


/* pixels */
#pixels {
  height: 180px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.pixel {
  display: inline-block;
  vertical-align: top;
  width: 10%;
  height: 10%;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-left: 2.85%;
  margin-bottom: 2.85%;
  transition: border-color .1s;
}
  .pixel:nth-child(8n+1) {
    margin-left:0;
  }
  .pixel:hover {
    border-color: #999;
  }


/* options */
#options {}

#options > h4 {
    margin-bottom: .5em;
}

/* frame Ids */
#frameIds {
    font-size: 0;
    /*margin: 10px 0;*/
}

#frameIds > input {
    margin: 0;
    visibility: hidden;
    width: 18px;
    height: 18px;
    display:inline-block;
}

#frameIds > input:hover {
    cursor: pointer;
}

#frameIds > input::before {
    font-size: 13px;
    content: attr(value);
    text-align: center;
    line-height: 18px;
    display: block;
    height: 100%;
    visibility: visible;
    transition: background .3s;
    border-radius: 2px;

}

#frameIds > input:hover::before {
    background: #f0f0f0;
    color: #555;
}

#frameIds > input:checked::before {
    background: gray;
    color: white;
}

/* actions */
#actions {
    font-size: 0;
    text-align: center;
}

#actions > a {
    font-size: 13px;
    display: inline-block;
    width: 33.3%;
}

a[data-action=draw] {
    border: 2px solid black;
    font-weight: bold;
    width: 25%;
    display: inline-block;
    margin-right: 5px;
}
a[data-action=draw]:active {
    background-color: gray;
    color: white;
}


/* sync */
#sync {
    text-align: center;
    font-size: 0;
    margin-bottom: 5px;
}

#sync > * {
    font-size: 13px;
}

#sync > [data-action=draw] {

}

#sync [class*="status-"] {
    display: none;
}

#syncToggle:hover {
    cursor: pointer;
}
label[for=syncToggle]:hover {
    cursor: pointer;
}

.status-error {
    color: #BB0000;
}

.status-success {
    color: #008800;
}

.status-warning {
    color: #997700;
}

.status-info {
    color: #888;
}

/* history */
#history {
  /*height: 176px;*/
}

.history {
  cursor: pointer;
  transition: background, .3s;
  margin-bottom: 1em;
  padding: 5px;
}
  .history:hover,
  .history:active {
    background: #f0f0f0;
  }

.history .thumb {
  width: 3.07em;
  height: 3.07em;
  line-height: .4em;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5%;
  pointer-events: none;
}

.history .thumb span {
  display:inline-block;
  width: 10%;
  height: 10%;
  margin-left: 2.5%;
  margin-top: 2.5%;
  pointer-events: none;
  vertical-align: top;
}


#templates {
  display: none;
}
