* {
  box-sizing: border-box;
}

body {
  font: 13px/1.5em Helvetica;
}

a {
  color: black;
  text-decoration: none;
  transition: color, .3s;
}
  a:hover {
    color: #555;
    background: #f0f0f0;
  }


#color, #pixels, #options, #history {
  width: 176px;
  margin-left: auto;
  margin-right: auto;
}

/* color */
#color {
  overflow: hidden;
  line-height: 1em;
}

#color form {
  /* display: inline-block; */
  width: 70%;
  /* vertical-align: top; */
  float: left;
}

#color input {
  border: none;
  -webkit-appearance: none;
  padding: 0;
  font: 12px Arial;
  display: block;
  width: 100%;
  border-spacing: 0;
  border-width: 0;
  border-style: none;
  background-color: #fff;
  margin: 0;
  outline: 0;
  box-shadow: none;
  height: 40px;
}
  #color input::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  #color input::-webkit-color-swatch {
    border: none;
  }

#color a {
  margin-left: .5em;
}

#color #picker {
  /*
  display: inline-block;
  vertical-align: top;
  width: 15%;
  */
}
  #color a.active {
    background: gray;
  }


/* pixels */
#pixels {
  height: 176px;
  margin-top: 1em;
}

.pixel {
  display: inline-block;
  vertical-align: top;
  width: 10%;
  height: 10%;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-left: 2.85%;
  margin-bottom: 2.85%;
  transition: border-color .1s;
}
  .pixel:nth-child(8n+1) {
    margin-left:0;
  }
  .pixel:hover {
    border-color: #999;
  }

/* history */
#history {
  height: 176px;
}
.history {
  cursor: pointer;
  transition: background, .3s;
  margin-bottom: 1em;
  padding: 5px;
}
  .history:hover,
  .history:active {
    background: #f0f0f0;
  }

.history .thumb {
  width: 3.07em;
  height: 3.07em;
  line-height: .4em;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5%;
  pointer-events: none;
}

.history .thumb span {
  display:inline-block;
  width: 10%;
  height: 10%;
  margin-left: 2.5%;
  margin-top: 2.5%;
  pointer-events: none;
  vertical-align: top;
}


#templates {
  display: none;
}
